p{
    margin: 5px 0 5px 0;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium
}
#game{
    margin:10px;
    padding:10px;
    background-color:pink;
    width:fit-content;
    p{
        color:white;
        text-shadow:1px 1px black;
    }
}
body{
    font-family:Arial, Helvetica, sans-serif;
background-color:lightblue;}
header{
    p{
        font-size:large;
    }
}
